#question-window {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 5;
    right: 0;
    height: 100%;
    width: 400px;
    padding: 0 20px;
    overflow-y: auto;
}

#question-window.active {
    display: block;
}

@media only screen and (max-width: 500px) {
    #question-window.active {
        width: 80%;
    }

    #welcome-message.active{
        height: 75%;
        width: 75%;
    }
}

#question-window #header {
    position: fixed;
    width: 390px;
    background-color: white;
}

#question-window #header h2 {
    display: inline-block;
}

#question-window #questions {
    margin-top: 70px;
    margin-bottom: 60px;
}

#question-window #questions .question-answer {
    display: none;
}

#question-window #questions .question-answer.active {
    display: block;
}

#question-window #questions .question-answer .question img {
    width: 300px;
}

#question-window #questions .question-answer .answer {
    margin-bottom: 10px;
    padding: 5px;
}

#question-window #questions .question-answer .answer.correct {
    background-color: lightgreen;
}

#question-window #questions .question-answer .fa-check {
    display: none;
}

#question-window #questions .question-answer .fa-check.visible {
    margin-left: 5px;
    display: inline;
}

#question-window #skip-reset {
    position: fixed;
    bottom: 0;
    width: 390px;
    padding: 20px 0;
    background-color: white;
}

#welcome-message, #congratulations-message{
    display: none;
}

#welcome-message.active, #congratulations-message.active{
    display: block;
    background-color: white;
    border: solid black 3px;
    border-radius: 5px;
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 20px;
}

#iconInQuestionWindow{
    cursor: pointer;
    padding-right: 10px;
}

#price {
  display: none;
  background-color: white;
  border-radius: 5px;
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 5px;
  text-align: center;
}

#price img{
  width: 80%;
}

#usernamePrice {
  color: blue;
}
