@font-face {
    font-family: "Roboto-Regular";
    src: url("./../res/Roboto/Roboto-Regular.ttf");
}

html, body {
    margin: 0;
    font-family: Roboto-Regular;
    overflow-x: hidden;
}

#map { 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#input-wrapper {
    position: absolute;
    z-index: 2;
    margin-left: 54px;
    margin-top: 10px;
    width: calc(100% - 54px);
    pointer-events: none;
}

#input-wrapper #search {
    border-radius: 10px;
    width: calc(100% - 24px);
    padding: 5px;
    border: 2px solid rgba(0,0,0,0.2);
    outline: 0;
    pointer-events: all;
}

#input-wrapper a {
    display: block;
    background-color: #FFFFFF;
    width: calc(100% - 25px);
    display: none;
    padding: 7px;
    pointer-events: all;
}

#input-wrapper a span{
    float: right;
    margin-left: 8px;
}

#input-wrapper a:hover {
    background-color: #009ce1;
    color: white;
}

#input-wrapper #search.active {
    border-radius: 10px 10px 0 0;
}

.popup-picture {
    width: 300px;
    height: 300px;
}

@media only screen and (min-width: 500px) {
    #input-wrapper #search {
        width: 220px;
    }

    #input-wrapper a {
        width: 220px;
    }

    .popup-picture {
        width: 300px;
        height: 300px;
    }
}

#button-wrapper {
    width: 100%;
    position: absolute;
    margin-top: 10px;
    pointer-events: all;
}

#button-wrapper #toggle-language .fi {
    margin-right: 5px;
}

.button {
    background-color: white;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 2px;
}

.button:hover{
    background-color: #f4f4f4;
    cursor: pointer;
}

.textNebenIconPlatzierung{
    display: inline-block;
}

.leaflet-pane.leaflet-marker-pane img {
    pointer-events: none;
}

img.leaflet-image-layer.leaflet-zoom-animated.leaflet-interactive{
    pointer-events: none;
}

.popUpHeaderConfiguration{
    padding-top: 5px;
    padding-bottom: 0;
    margin-top: 5px;
    margin-bottom: 0;
}

.popUpListConfiguration{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#toggle-sidebar{
    float:right;
    margin-right: 10px;
}

th{
    text-align: left;
}